# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# User-defined
nbproject/
src/radiosity

# User defined documentation
doc/*.aux
doc/*.log
doc/*.pdf
doc/*.out

assets/*.png
